<div class="form-group m-3">



  <label for="periodo">Buscar periodo</label>
  <input class="form-control" type="number" id="periodo" min="1900" max="2099" step="1" value="2018" />
  <small id="helpId" class="form-text text-muted"></small>


</div>


<table id="tabla" class="table table-hover m-3  ">
  <thead class=" bg-warning">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Incidencias</th>
      <th scope="col">Criticidad</th>
    </tr>
  </thead>
  <tbody>
    <tr (click)="seleccionar(i)" *ngFor="let periodo of periodos, let i= index" style="cursor: pointer">
      <th #actual scope="row">{{i+1}}</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
