<table id="tabla" class="table table-hover m-4">
  <thead class=" bg-warning">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Carrera</th>
      <th scope="col">Semestre</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudian of estudiantes , let i= index" style="cursor: pointer">
      <th scope="row">{{i+1}}</th>
      <td>{{estudian.nombre}}</td>
      <td>{{estudian.apellido}}</td>
      <td>{{estudian.carrera}}</td>
      <td>{{estudian.semestre}}</td>
    </tr>
  </tbody>
</table>

<button (click)="cerrar()" class="container btn btn-danger btn-block" role="button">Cerrar</button>
