<div class="row container-fluid" *ngIf="!_LogInService.usuario.acceso">
  <div class="col-sm-6">
    <a href="#">
      <img src="./assets/javerianaLogo.png" class="rounded " alt="lohojaveriana">
    </a>
  </div>
  <div class="col-sm-6 text-right">
    <a href="#">
      <img src="./assets/sapiensLogo.jpg" class=" rounded " alt="logosapiensa" style="width:235px;height:80px;">
    </a>
  </div>
</div>


<div class="container-fluid navtopdiv" *ngIf="!_LogInService.usuario.acceso">
</div>


<div *ngIf=" (_LogInService.usuario.tipo!='admin')  " class="d-flex flex-row-reverse bd-highlight " style=" background-color: #000167;">

  <div *ngIf="!_LogInService.usuario.acceso" class="logIn">
    <form class="form-inline m-2">
      <div class="form-group mb-2">
        <label for="correo" class="sr-only">Email</label>
        <input #correo type="text" class="form-control" id="correo" placeholder="Correo">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="contrasena" class="sr-only">Password</label>
        <input #clave type="password" class="form-control" id="contrasena" placeholder="Contraseña">
      </div>
      <button (click)="login(clave.value,correo.value)" type="button" class="btn btn-primary mb-2 ">Ingresar</button>
    </form>
  </div>



</div>




<div *ngIf="_LogInService.usuario.acceso" class="inicio text-white " style=" background-color: #000167;height: 81px;">

  <div class="row" style="
  height: 88px;
  width: 1364px;
">
    <div class="col-4">
      <img src="../../../assets/sapiensLogo.png" alt="" style="height: 47%;">
    </div>
    <div class="col-4">

      <div *ngIf="_LogInService.usuario.tipo==='consejero'" class="consejero botones">




        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-sm">
              <button [ngClass]="{
                'seleccionado':numeradorOpcion===1}" (click)="opcion(1)" type="button"
                class="botonOpcion btn-block">Buscar</button>
              <hr *ngIf="numeradorOpcion===1">
            </div>
            <div class="col-sm">
              <button [ngClass]="{
                'seleccionado':numeradorOpcion===2}" (click)="opcion(2)" type="button"
                class="botonOpcion btn-block">Asincronas</button>
              <hr *ngIf="numeradorOpcion===2">
            </div>
            <div class="col-sm">
              <button [ngClass]="{
                'seleccionado':numeradorOpcion===3}" (click)="opcion(3)" type="button"
                class="botonOpcion btn-block">Periodicas</button>
              <hr *ngIf="numeradorOpcion===3">
            </div>
          </div>
        </div>

      </div>
      <div *ngIf="_LogInService.usuario.tipo==='director'" class="director botones">

        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-sm">
              <button [ngClass]="{
                    'seleccionado':numeradorOpcion===4}" (click)="opcion(4)" type="button"
                class="botonOpcion btn-block">Demanda</button>
              <hr *ngIf="numeradorOpcion===4">
            </div>
            <div class="col-sm">
              <button [ngClass]="{
                    'seleccionado':numeradorOpcion===5}" (click)="opcion(5)" type="button"
                class="botonOpcion btn-block">Asincronas</button>
              <hr *ngIf="numeradorOpcion===5">
            </div>
            <div class="col-sm">
              <button [ngClass]="{
                    'seleccionado':numeradorOpcion===6}" (click)="opcion(6)" type="button"
                class="botonOpcion btn-block">Periodicas</button>
              <hr *ngIf="numeradorOpcion===6">
            </div>
            <div class="col-sm">
              <button [ngClass]="{
                      'seleccionado':numeradorOpcion===7}" (click)="opcion(7)" type="button"
                class="botonOpcion btn-block">Predicción</button>
              <hr *ngIf="numeradorOpcion===7">
            </div>
          </div>
        </div>



      </div>


    </div>

    <div class="col-4">
      <div class="datos pull-right" style="padding-top: 15px">
        Nombre usuario
        <button (click)="salir()" type="button" class="btn btn-danger m-1 ">Salir</button>
      </div>

    </div>
  </div>






</div>



<div class="container-fluid navtopdiv2 " *ngIf="_LogInService.usuario.acceso" style="box-shadow: black">
</div>

<app-carousel *ngIf=" (!_LogInService.usuario.acceso) && (_LogInService.usuario.tipo!='admin') "></app-carousel>
