<div class="wrap-login100">
  <form class="login100-form " style="padding-top: 107px;">
    <span class="login100-form-title">
      Account Login
    </span>

    <div class=" rs1-wrap-input100">
      <input id="first-name" class="input100" type="text" name="username" placeholder="User name">
    </div>
    <div class=" rs2-wrap-input100">
      <input class="input100" type="password" name="pass" placeholder="Password">
    </div>

    <div class="container-login100-form-btn">
      <button (click)="iniciarSesion()" class="login100-form-btn">
        Sign in
      </button>
    </div>

    <div class="centrar">
      <span class="txt1">
        Forgot
      </span>

      <a href="#" class="txt2">
        User name / password?
      </a>
    </div>

  </form>

  <div class="login100-more" style="background-image: url('../../../assets/sapiensLogo.jpg');"></div>
</div>
