<div id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Admin Login</h2>
          <p>Por favor digitar su id y contraseña</p>
        </div>
        <form id="Login">

          <div class="form-group">


            <input type="id" class="form-control" id="id" placeholder="Id">

          </div>

          <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

          </div>
          <div class="forgot">
            <a href="./admin">Olvido su contraseña?</a>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>

        </form>
      </div>
    </div>
  </div>
</div>
