<!-- <div class="row">
  <div class="col-sm-4">
    <a (click)="activar()" class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active"
      [routerLink]="['buscar']">Buscar</a>
  </div>
  <div class="col-sm-4">
    <a (click)="activar()" class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active"
      [routerLink]="['asincrono']">Asincronas</a>
  </div>
  <div class="col-sm-4">
    <a (click)="activar()" class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active"
      [routerLink]="['periodico']">
      Periodicas</a>
  </div>
</div>

<hr> -->

<div *ngIf="!_LogInService.opcion" class="cuerpo">

</div>

<router-outlet *ngIf="_LogInService.opcion"></router-outlet>
