<h3>Filtros de busqueda</h3>
<hr>
<div class="form-group">
  <div class="row">
    <div class="col-4">
      <label for="">Nombre estudiante</label>
      <input #nombre type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

      <label for="">Id del estudiante</label>
      <input #id type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

    </div>
    <div class="col-4">

      <label for="">Nombre Alerta</label>
      <select #alerta class="form-control" id="exampleFormControlSelect1">
        <option>Seleccione una opción</option>
        <option *ngFor="let item of alertas">{{item.nombreAlerta}}</option>
      </select>

      <label for="exampleFormControlSelect1">Origen de la alerta</label>
      <select #origen class="form-control" id="exampleFormControlSelect1">
        <option>Seleccione una opción</option>
        <option>Sistema</option>
        <option>Profesor</option>
        <option>Alumno</option>
        <option>Director</option>
      </select>


    </div>
    <div class="col-4">
      <label for="">Fecha de creacion de la alerta</label>
      <input #fecha type="month" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

      <label for="exampleFormControlSelect1">Estado de alerta</label>
      <select #estado class="form-control" id="exampleFormControlSelect1">
        <option>Seleccione una opción</option>
        <option>Remitida</option>
        <option>Atendida</option>
        <option>Escalada</option>
      </select>

    </div>
  </div>

  <button (click)="filtrar(nombre.value,id.value,alerta.value,origen.value,fecha.value,estado.value)" type="button"
    class="pull-right btn btn-primary m-4">Filtrar</button>

</div>


<hr>

<div class="contenidoFiltro">
  <table class="table">
    <thead class="bg-warning">
      <tr>
        <th>Nombre de estudiante</th>
        <th>Id del estudiante</th>
        <th>Nombre de alerta</th>
        <th>Origen</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Detalle</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of historialDeMostrar;let i=index  ">
        <td>{{item.nombreEstudiante}}</td>
        <td>{{item.idEstudiante}}</td>
        <td>{{item.nombreAlerta}}</td>
        <td>{{item.origen}}</td>
        <td>{{item.estado}}</td>
        <td>{{item.fecha}}</td>
        <td class="text-center"><button (click)="cargarInformacion(i)" type="button" data-toggle="modal" data-target="#exampleModalCenter"
            class="fa fa-search btn btn-primary"></button></td>
      </tr>

    </tbody>
  </table>

  <nav aria-label="Page navigation example" style="display: flex;">
    <ul class="pagination, centrar" style="margin-left: auto;
    padding-left: 0;
    margin-right: auto;">
      <li class="page-item"><a (click)="cambioPag(1,'antes')" class="page-link">Previous</a></li>
      <li *ngFor="let item of numeroDePags, let i=index" class="page-item"><a [ngClass]="{'activoPag': (i+1)===indice}"
          (click)="cambioPag(i,'pagina')" class="page-link">{{i+1}}</a></li>
      <li class="page-item"><a (click)="cambioPag(1,'despues')" class="page-link">Next</a></li>
    </ul>
  </nav>

  <div class="fondoNegro" *ngIf="alertaPopUp">

  </div>
  <div *ngIf="alertaPopUp" class="animated fadeIn alert alert-danger popUp">
    <strong>{{mensaje.titulo}}</strong> {{ mensaje.cuerpo}}
  </div>



  <!-- Modal -->
  <div *ngIf="modal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Detalle de la alerta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="col-6">
              <h1 class="text-center">Alerta</h1>
              <h4>Id</h4>
              <h6>{{intervencionModal._id}}</h6>
              <h4>Nombre</h4>
              <h6>{{intervencionModal.nombre}}</h6>
              <h4>Temporalidad</h4>
              <h6>{{intervencionModal.temporalidad}}</h6>
              <h4>Criticidad</h4>
              <h6>{{intervencionModal.criticidad}}</h6>
              <h4>Estado</h4>
              <h6>{{intervencionModal.estado}}</h6>

            </div>

            <div class="col-6">
              <h1 class="text-center">Actores</h1>
              <div *ngFor="let item of intervencionModal.actores" class="actores">
                <hr>
                <h4>{{item.nombres}}&nbsp;{{item.apellido1}}</h4>
                <div *ngFor="let item2 of item.roles" class="roles">
                  <h6>{{item2.fechaInicio}}</h6>
                  <h6>{{item2.rol}}</h6>
                </div>
                <hr>
              </div>

            </div>

          </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
