<h3>Filtros de busqueda</h3>
<hr>
<div class="form-group">
  <div class="row">
    <div class="col-4">
      <label for="">Nombre estudiante</label>
      <input #nombre type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

      <label for="">Id del estudiante</label>
      <input #id type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

    </div>
    <div class="col-4">


      <label for="">Nombre Alerta</label>
      <input #alerta type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">


      <label for="exampleFormControlSelect1">Origen de la alerta</label>
      <select #origen class="form-control" id="exampleFormControlSelect1">
        <option>Seleccione una opción</option>
        <option>Sistema</option>
        <option>Profesor</option>
        <option>Alumno</option>
        <option>Director</option>
      </select>


    </div>
    <div class="col-4">
      <label for="">Fecha de creacion de la alerta</label>
      <input #fecha type="month" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

      <label for="exampleFormControlSelect1">Estado de alerta</label>
      <select #estado class="form-control" id="exampleFormControlSelect1">
        <option>Seleccione una opción</option>
        <option>Remitida</option>
        <option>Atendida</option>
        <option>Escalada</option>
      </select>

    </div>
  </div>

  <button (click)="filtrar(nombre.value,id.value,alerta.value,origen.value,fecha.value,estado.value)" type="button"
    class="pull-right btn btn-primary m-4">Filtrar</button>

</div>


<hr>

<div class="contenidoFiltro">
  <table class="table">
    <thead class="bg-warning">
      <tr>
        <th>Nombre de estudiante</th>
        <th>Id del estudiante</th>
        <th>Nombre de alerta</th>
        <th>Origen</th>
        <th>Estado</th>
        <th>Encargado Actual</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td scope="row"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example" style="display: flex;">
    <ul class="pagination, centrar">
      <li class="page-item"><a (click)="cambioPag(-1)" class="page-link" href="#">Previous</a></li>
      <li *ngFor="let item of numeroDePags, let i=index" class="page-item"><a (click)="cambioPag(-1,i+1)" class="page-link"
          href="#">{{i+1}}</a></li>
      <li class="page-item"><a (click)="cambioPag(-2)" class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
