<div *ngFor="let alertaIA of alertasInArt; let i=index" class="ia">
  <hr class="text-center ">
  <div class="titulo text-center">
    <ul class="ulclass ">
      <li>
        <h1 class="text-center">{{alertaIA.nombreAlerta}} </h1>
      </li>
      <li>
        <h1 [ngClass]="{'textRojo': 'Alta'===alertaIA.criticidad}">({{alertaIA.criticidad}}) </h1>
      </li>
    </ul>

  </div>

  <div class="row">
    <div class="col-6">

      <table class="table">
        <thead>
          <tr>
            <th style="cursor: pointer">Nombres de estudiantes</th>
            <th style="cursor: pointer" (click)="edad(i)">Edad</th>
            <th style="cursor: pointer" (click)="genero(i)">Genero</th>
            <th style="cursor: pointer">Promedio acumulado</th>
            <th style="cursor: pointer">Puntaje lectura critica</th>
            <th style="cursor: pointer">Puntaje Matematica</th>
            <th style="cursor: pointer">Calificación Global</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudiante of alertaIA.Estudiante">
            <td>{{estudiante.nombreEstudiante}}</td>
            <td>{{estudiante.edad}}</td>
            <td>{{estudiante.genero}}</td>
            <td>{{estudiante.promedio_ponderado}}</td>
            <td>{{estudiante.Puntaje_Lectura_Critica}}</td>
            <td>{{estudiante.Puntaje_Matematica}}</td>
            <td>{{estudiante.Calif_Global}}</td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <div class="m-5">
        <div *ngIf="cargar[i]" style="display: block">
          <canvas id="graph{{i}}" baseChart [datasets]="graficas[i].barChartData" [labels]="graficas[i].barChartLabels"
            [options]="graficas[i].barChartOptions" [legend]="graficas[i].barChartLegend" [chartType]="graficas[i].barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>



</div>

<div class="fondoNegro" *ngIf="alertaPopUp">

</div>
<div *ngIf="alertaPopUp" class="animated fadeIn alert alert-danger popUp">
  <strong>{{mensaje.titulo}}</strong> {{ mensaje.cuerpo}}
</div>
