<div *ngFor="let alertaIA of alertasInArt" class="ia">
  <hr class="text-center ">
  <div class="titulo">
    <h1 class="text-center">{{alertaIA.nombreAlerta}} </h1>
    <h1 [ngClass]="{'textRojo': 'media'===alertaIA.criticidad}">({{alertaIA.criticidad}}) </h1>
  </div>

  <div class="row">
    <div class="col-6">

      <table class="table">
        <thead>
          <tr>
            <th>Nombres de estudiantes</th>
            <th>Edad</th>
            <th>Genero</th>
            <th>Promedio acumulado</th>
            <th>Puntaje lectura critica</th>
            <th>Puntaje Matematica</th>
            <th>Calificación Global</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudiante of alertaIA.Estudiante">
            <td>{{estudiante.nombreEstudiante}}</td>
            <td>{{estudiante.edad}}</td>
            <td>{{estudiante.genero}}</td>
            <td>{{estudiante.promedio_ponderado}}</td>
            <td>{{estudiante.Puntaje_Lectura_Critica}}</td>
            <td>{{estudiante.Puntaje_Matematica}}</td>
            <td>{{estudiante.Calif_Global}}</td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <div class="m-5">
        <div style="display: block">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

    </div>
  </div>



</div>

<div class="fondoNegro" *ngIf="alertaPopUp">

</div>
<div *ngIf="alertaPopUp" class="animated fadeIn alert alert-danger popUp">
  <strong>{{mensaje.titulo}}</strong> {{ mensaje.cuerpo}}
</div>
