<div class="row">

  <div class="col-6">

    <table id="tabla" class="table table-hover m-3  ">
      <thead class=" bg-warning">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Incidencias</th>
          <th scope="col">Criticidad</th>
          <th scope="col">Periodo</th>

        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{
          'table-warning': periodo.criticidad === 'Media',
          'table-success': periodo.criticidad === 'Baja',
          'table-danger': periodo.criticidad === 'Alta'
          }"
          (click)="seleccionar(i)" *ngFor="let periodo of periodos, let i= index" style="cursor: pointer">
          <th #actual scope="row">{{i+1}}</th>
          <td>{{periodo.nombreAlerta}}</td>
          <td>{{periodo.incidencias}}</td>
          <td>{{periodo.criticidad}}</td>
          <td>{{periodo.periodo}}</td>

        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-6">
    <div *ngIf=seleccionado class="opcionesEstudiantes">

      <table id="tablaEstudiantes" class="table table-hover m-4">
        <thead class=" bg-warning">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">apellido</th>
            <th scope="col">semestre</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="seleccionarCheck(i)" *ngFor="let estudiante of estudianteActual, let i= index">
            <td class="checkContent">
              <input type="checkbox" [(ngModel)]="estudiante.check">
            </td>
            <td>{{estudiante.nombre}}</td>
            <td>{{estudiante.apellido}}</td>
            <td>{{estudiante.semestre}}</td>
          </tr>
        </tbody>
      </table>


      <button (click)="ActivarModalAtender()" name="atender" id="atender" class="btn btn-success m-1 pull-right"
        data-toggle="modal" data-target="#myModal-Atender">Atender</button>
      <button (click)="ActivarModalEscalar()" name="escalar" id="escalar" class="btn btn-primary m-1 pull-right"
        data-toggle="modal" data-target="#myModal-Escalar">Escalar</button>
      <button (click)="ActivarModalRemitir()" name="remitir" id="remitir" class="btn btn-primary m-1 pull-right"
        data-toggle="modal" data-target="#myModal-Remitir">Remitir</button>

    </div>
  </div>
</div>



<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal-Remitir" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remitir alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=" m-3 form-group ">
          <label for="exampleFormControlSelect2">Nivel de atención</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>Alta</option>
            <option>Media</option>
            <option>Baja</option>
          </select>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <button (click)="remitir()" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Remitir</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <button (click)="remitir()" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Remitir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Salir</button>
      </div>
    </div>
  </div>
</div>

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div class="modal fade" id="myModal-Escalar" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atención</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro de escalar la alerta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>


<!-- Trigger the modal with a button -->

<!-- Modal -->
<div class="modal fade" id="myModal-Atender">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atención de alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="conclucion">Conclusión de la alerta</label>
          <textarea class="form-control" name="conclucion" id="conclucion" rows="3"></textarea>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
