<form [formGroup]="forma" class="form-group ">
  <label for="alerta">Seleccione la alerta</label>
  <select #alerta formControlName="opcion" class="form-control" id="alerta">
    <option value="0">Seleccione una opción</option>
    <option *ngFor="let alerta of alertas">{{alerta}}</option>
  </select>
</form>


<div *ngIf="forma.dirty && alerta.value!=='0'" class="cuerpo">


  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button style="box-shadow: none;" class="text-left btncolor btn btn-default text-dark btn-block" type="button"
            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Datos demograficos
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">

          <form>

            <h4>Datos personales</h4>

            <div class="row">
              <div class="col">

                <label for="id">Id</label>
                <input id="id" type="text" class="form-control" placeholder="id" disabled="true">

                <label for="nacimiento">Nacimiento</label>
                <input id="nacimiento" type="date" class="form-control" placeholder="nacimiento" disabled="true">

                <label for="origen">País Origen</label>
                <input id="origen" type="text" class="form-control" placeholder="origen" disabled="true">



              </div>
              <div class="col">
                <label for="Genero">Genero</label>
                <input id="Genero" type="text" class="form-control" placeholder="Genero" disabled="true">

                <label for="estado">Estado Civil</label>
                <input id="estado" type="text" class="form-control" placeholder="estado" disabled="true">

                <label for="ciudad">Ciudad de origen</label>
                <input id="ciudad" type="text" class="form-control" placeholder="ciudad" disabled="true">

              </div>

            </div>
            <h4>Origen Étnico</h4>

            <div class="row">
              <div class="col">
                <label for="grupo">Grupo Étnico</label>
                <input class="form-control" type="text" id="grupo" placeholder="grupo" disabled="true">
              </div>
              <div class="col">
                <label for="descripcion">Descripción</label>
                <input class="form-control" type="text" id="descripcion" placeholder="descripcion" disabled="true">

              </div>
              <div class="col">
                <label for="principal">Principal</label>
                <input class="form-control" type="text" id="principal" placeholder="principal" disabled="true">

              </div>
            </div>


            <h4>Discapacidad</h4>
            <div class="row">
              <div class="col">
                <label for="discapacidad">Tipo de discapacidad</label>
                <input class="form-control" type="text" id="discapacidad" placeholder="discapacidad" disabled="true">
              </div>
              <div class="col">
                <label for="descripcionDiscapacidad">Descripción</label>
                <input class="form-control" type="text" id="descripcionDiscapacidad" placeholder="descripcionDiscapacidad"
                  disabled="true">

              </div>

            </div>



          </form>


        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button style="box-shadow: none;" class="text-left btncolor btn btn-default text-dark btn-block" type="button"
            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Datos academicos
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">

          <table id="tabla" class="table table-hover">
            <thead class=" bg-warning">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Semestre</th>
                <th scope="col">Creditos aprobados</th>
                <th scope="col">Creditos retirados</th>
                <th scope="col">Promedio</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="seleccionar(i)" *ngFor=" let i= index" style="cursor: pointer">
                <th scope="row">{{i+1}}</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button style="box-shadow: none;" class="text-left btncolor btn btn-default text-dark btn-block" type="button"
            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Historial de alertas
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <table id="tabla" class="table table-hover">
            <thead class=" bg-warning">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Semestre</th>
                <th scope="col">Alerta</th>
                <th scope="col">Creador</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let historial of historialAlerta, let i= index" style="cursor: pointer">
                <th scope="row">{{i+1}}</th>
                <td></td>
                <td></td>
                <td></td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  <div class="form-group m-2">
    <label for="anotacion">Anotaciones:</label>
    <textarea class="form-control" name="anotacion" id="anotacion" rows="2"></textarea>
  </div>

  <div class="botones" style="height: 7px">
    <button class="btn btn-danger pull-right m-1" (click)="regresar()" name="regresar" id="regresar" role="button">Regresar</button>
    <button class="btn btn-primary pull-right m-1" (click)="escalar()" name="escalar" id="escalar" role="button">Escalar</button>
    <button class="btn btn-primary pull-right m-1" (click)="modal()" name="remitir" id="remitir" role="button"
      data-toggle="modal" data-target="#myModal">Remitir</button>

  </div>


</div>

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div *ngIf="activarModal" id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remitir alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class=" m-3 form-group ">
          <label for="exampleFormControlSelect2">Nivel de atención</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>Alta</option>
            <option>Media</option>
            <option>Baja</option>
          </select>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <button (click)="remitir()" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Remitir</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <button (click)="remitir()" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Remitir</button>
              </div>
            </div>
          </div>




        </div>



      </div>
      <div class="modal-footer">


        <button type="button" class="btn btn-danger " data-dismiss="modal">Salir</button>


      </div>
    </div>
  </div>
