hr {
  border: 1;
  clear: both;
  display: block;
  width: 96%;
  background-color: thistle;
  height: 1px;
}

.BotonScroll {

  position: fixed;
  left: 0;
  top: 30%;
  display: inline-grid;

}

button.botton.fa:hover {
  border-radius: inherit;
  width: 130px;
}


button.botton.fa.fa-arrow-up:hover p::before {
  border-radius: inherit;
  width: 130px;
  content: "Volver a buscar";
  font-family: sans-serif;
}

button.botton.fa.fa-address-card:hover p::before {
  border-radius: inherit;
  width: 130px;
  content: "Datos demograficos";
  font-family: sans-serif;
}


button.botton.fa.fa-graduation-cap:hover p::before {
  border-radius: inherit;
  width: 130px;
  content: "Datos academicos";
  font-family: sans-serif;
}

button.botton.fa.fa-exclamation-triangle:hover p::before {
  border-radius: inherit;
  width: 130px;
  content: "Historial de alertas";
  font-family: sans-serif;
}

button.botton.fa.fa-check-square:hover p::before {
  border-radius: inherit;
  width: 130px;
  content: "Finalizar";
  font-family: sans-serif;
}



.botton {

  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.mostrar {

  display: block;
}

.ocultar {


  display: none !important;
}

.mostrarBtn {

  display: inline-grid;
}

.ocultarBtn {


  display: none !important;
}
