<div #buscarEstudiante class="row">
  <div class="col-sm-4">
    <form class="m-4" [(formGroup)]="forma" (ngSubmit)="buscar()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input value="" type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
        <label for="correoTexto">Correo</label>
        <input value="" type="email" class="form-control" placeholder="Correo" formControlName="correo">
      </div>
      <button (click)="buscar()" type="submit" name="aceptar" id="aceptar" class="btn btn-primary" role="button">Buscar</button>
    </form>
  </div>

  <div *ngIf=busquedaBool class="col-sm-8 ">
    <table id="tabla" class="table table-hover">
      <thead class=" bg-warning">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Semestre</th>
          <th scope="col">Última visita</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="seleccionar(i)" *ngFor="let estudiante of estudiantes, let i= index" style="cursor: pointer">
          <th scope="row">{{i+1}}</th>
          <td>{{estudiante.nombre}}</td>
          <td>{{estudiante.apellido}}</td>
          <td>{{estudiante.semestre}}</td>
          <td>10/11/2018</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div [ngClass]="{'mostrar': mostrar===true,
'ocultar': mostrar===false}" class="datosEstudiante m-5">
  <br>
  <hr>
  <div #demograficos id="demograficos" class="datosdemograficos">
    <h1 class="text-center">Datos Demográficos</h1>
    <hr>
    <div class="datospersonales">
      <h4>Datos personales</h4>
      <div class="row">
        <div class="col">
          <label for="id">Id</label>
          <input id="id" type="text" class="form-control" placeholder="id" disabled="true" [value]="demograficoActual.id">
          <label for="nacimiento">Nacimiento</label>
          <input id="nacimiento" type="text" class="form-control" placeholder="nacimiento" disabled="true" [value]="demograficoActual.nacimiento">
          <label for="origen">País de origen</label>
          <input id="origen" type="text" class="form-control" placeholder="origen" disabled="true" [value]="demograficoActual.pais">
        </div>
        <div class="col">
          <label for="Genero">Género</label>
          <input id="Genero" type="text" class="form-control" placeholder="Genero" disabled="true" [value]="demograficoActual.genero">
          <label for="estado">Estado Civil</label>
          <input id="estado" type="text" class="form-control" placeholder="estado" disabled="true" [value]="demograficoActual.estado_civil">
          <label for="ciudad">Ciudad de origen</label>
          <input id="ciudad" type="text" class="form-control" placeholder="ciudad" disabled="true" [value]="demograficoActual.ciudad">
        </div>
      </div>
    </div>
    <div class="Origenetnico">
      <h4>Origen Étnico</h4>
      <div class="row">
        <div class="col">
          <label for="grupo">Grupo Étnico</label>
          <input class="form-control" type="text" id="grupo" placeholder="grupo" disabled="true" [value]="demograficoActual.grupo_etnico">
        </div>
        <div class="col">
          <label for="descripcion">Descripción</label>
          <input class="form-control" type="text" id="descripcion" placeholder="descripcion" disabled="true" [value]="demograficoActual.descripcion_etnica">
        </div>
        <div class="col">
          <label for="principal">Principal</label>
          <input class="form-control" type="text" id="principal" placeholder="principal" disabled="true" [value]="demograficoActual.pricipal">
        </div>
      </div>
    </div>
    <div class="discapacidad">
      <h4>Discapacidad</h4>
      <div class="row">
        <div class="col">
          <label for="discapacidad">Tipo de discapacidad</label>
          <input class="form-control" type="text" id="discapacidad" placeholder="discapacidad" disabled="true" [value]="demograficoActual.tipo_discapacidad">
        </div>
        <div class="col">
          <label for="descripcionDiscapacidad">Descripción</label>
          <input class="form-control" type="text" id="descripcionDiscapacidad" placeholder="descripcionDiscapacidad"
            disabled="true" [value]="demograficoActual.descripcion_discapacidad">
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div #academicos class="datosAcademicos">
    <h1 class="text-center">Datos académicos</h1>
    <hr>
    <div class="notas">
      <table id="tabla" class="table table-hover">
        <thead class=" bg-warning">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Semestre</th>
            <th scope="col">Créditos aprobados</th>
            <th scope="col">Créditos retirados</th>
            <th scope="col">Promedio</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="seleccionar(i)" *ngFor="let datoAcademico of academicosActual;let i=index" style="cursor: pointer">
            <th scope="row">{{i+1}}</th>
            <td>{{datoAcademico.semestre}}</td>
            <td>{{datoAcademico.creditosAprobados}}</td>
            <td>{{datoAcademico.creditosRetirados}}</td>
            <td>{{datoAcademico.promedio}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <br>
  <hr>
  <div #histoAlertas class="historialAlertas">
    <h1 class="text-center"> Historial de alertas</h1>
    <hr>
    <div class="alertas">
      <table id="tabla" class="table table-hover">
        <thead class=" bg-warning">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Semestre</th>
            <th scope="col">Alerta</th>
            <th scope="col">Creador</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let histoActual of alertasEstudiante;let i=index" style="cursor: pointer">
            <th scope="row">{{i+1}}</th>
            <td>{{histoActual.fecha}}</td>
            <td>{{histoActual.semestre}}</td>
            <td>{{histoActual.alerta}}</td>
            <td>{{histoActual.creador}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br #anotaciones>
  <hr>
  <br>
  <button (click)="ActivarModalAtender()" name="atender" id="atender" class="btn btn-success m-1 pull-right"
    data-toggle="modal" data-target="#myModal-Atender">Atender</button>
  <button (click)="ActivarModalEscalar()" name="escalar" id="escalar" class="btn btn-primary m-1 pull-right"
    data-toggle="modal" data-target="#myModal-Escalar">Escalar</button>
  <button (click)="ActivarModalRemitir()" name="remitir" id="remitir" class="btn btn-primary m-1 pull-right"
    data-toggle="modal" data-target="#myModal-Remitir">Remitir</button>

  <br>
  <br>
</div>


<div [ngClass]="{'mostrarBtn': mostrar===true,
'ocultarBtn': mostrar===false}" class="BotonScroll ">

  <button class="botton btn-danger fa fa-arrow-up" (click)="scrollToElementInicio()" name="buttondemograficos" href="#buscarEstudiante"
    role="button">
    <p></p>
  </button>

  <button class="botton btn-primary fa fa-address-card" (click)="scrollToElement(demograficos)" name="buttondemograficos"
    href="#demograficos" role="button">
    <p></p>
  </button>

  <button class="botton btn-primary fa fa-graduation-cap" (click)="scrollToElement(academicos)" name="buttondemograficos"
    href="#academicos" role="button">
    <p></p>
  </button>
  <button class="botton btn-primary fa fa-exclamation-triangle" (click)="scrollToElement(histoAlertas)" name="buttondemograficos"
    href="#histoAlertas" role="button">
    <p></p>
  </button>
  <button class="botton btn-primary fa fa-check-square" (click)="scrollToElement(anotaciones)" name="buttondemograficos"
    href="#anotaciones" role="button">
    <p></p>
  </button>

</div>


<!-- Trigger the modal with a button -->

<!-- Modal -->
<div id="myModal-Remitir" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remitir alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=" m-3 form-group ">
          <form [formGroup]="forma" class="form-group ">
            <label for="alerta">Seleccione la alerta</label>
            <select [(ngModel)]="alertaSeleccionada" (click)="selecionAlerta()" #alerta formControlName="opcion" class="form-control"
              id="alerta">
              <option selected="selected" value="0">Seleccione una opción</option>
              <option *ngFor="let alerta of alertas" value="{{alerta.nombreAlerta}}">{{alerta.nombreAlerta}}</option>
            </select>
          </form>



          <label for="exampleFormControlSelect2">Nivel de atención</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>Alta</option>
            <option>Media</option>
            <option>Baja</option>
          </select>

          <div class="anotacionesAdicion form-group">
            <label for="anotacion">Anotaciones:</label>
            <textarea class="form-control" name="anotacion" id="anotacion" rows="3"></textarea>
          </div>


        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Centro de asesoría psicológica y salud</h5>
                <button (click)="remitir(1,alerta.value)" type="button" class="btn btn-primary btn-block" data-dismiss="modal"
                  [disabled]="remitirValor">Remitir</button>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Aulas de aprendizaje</h5>
                <br>
                <button (click)="remitir(2,alerta.value)" type="button" class="btn btn-primary btn-block" data-dismiss="modal"
                  [disabled]="remitirValor">Remitir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div class="modal fade" id="myModal-Escalar" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Escalar Alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="forma" class="form-group ">
          <label for="alerta">Seleccione la alerta</label>
          <select [(ngModel)]="alertaSeleccionada" (click)="selecionAlerta()" #alerta formControlName="opcion" class="form-control"
            id="alerta">
            <option selected="selected" value="0">Seleccione una opción</option>
            <option *ngFor="let alerta of alertas" value="{{alerta.nombreAlerta}}">{{alerta.nombreAlerta}}</option>
          </select>
        </form>

        <div class="anotacionesAdicion form-group">
          <label for="anotacion">Anotaciones:</label>
          <textarea class="form-control" name="anotacion" id="anotacion" rows="3"></textarea>
        </div>


        <h5 class="text-center"> ¿Está seguro de escalar la alerta?</h5>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button id="BotonEscalar" (click)="escalar(alerta.value)" type="button" class="btn btn-primary" data-dismiss="modal"
          [disabled]="remitirValor">Confirmar</button>
      </div>
    </div>
  </div>
</div>


<!-- Trigger the modal with a button -->

<!-- Modal -->
<div class="modal fade" id="myModal-Atender">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atención de alerta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="forma" class="form-group ">
          <label for="alerta">Seleccione la alerta</label>
          <select [(ngModel)]="alertaSeleccionada" #alerta (click)="selecionAlerta()" formControlName="opcion" class="form-control"
            id="alerta">
            <option selected="selected" value="0">Seleccione una opción</option>
            <option *ngFor="let alerta of alertas" value="{{alerta.nombreAlerta}}">{{alerta.nombreAlerta}}</option>
          </select>
        </form>

        <div class="form-group">
          <label for="conclucion">Conclusión de la alerta</label>
          <textarea class="form-control" name="conclucion" id="conclucion" rows="3"></textarea>
        </div>




        <label class="form-check-label m-4">
          <input (click)="check()" #seguimi class="form-check-input" type="checkbox" name="seguimi" id="seguimi" value="checkedValue">
          Programar
          seguimiento
        </label>

        <div *ngIf="checkFecha" class="fechaSeguimiento">
          <label for="">Fecha:</label>
          <input type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button [disabled]="remitirValor" (click)="atender(alerta.value)" type="button" class="btn btn-primary"
          data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<div class="fondoNegro" *ngIf="alertaPopUp">

</div>
<div *ngIf="alertaPopUp" class="animated fadeIn alert alert-danger popUp">
  <strong>{{mensaje.titulo}}</strong> {{ mensaje.cuerpo}}
</div>

<script>
  $('.BotonEscalar').each(function () {
    var $this = $(this);
    $this.popover({
      trigger: 'hover',
      placement: 'right',
      html: true,
      content: "$this.find('.userInfo').html()"
    });
  });

</script>
