<div *ngIf=" _LogInService.usuario.tipo!=='director' &&  _LogInService.usuario.tipo!=='consejero' " class="espacio">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div *ngIf="_LogInService.usuario.tipo==='director' || _LogInService.usuario.tipo==='consejero'" class="director">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Bienvenido {{_LogInService.usuario.nombreUsuario }}</h1>
    </div>
  </div>

</div>
