<div class="contenedorMenu">

  <div class="imagen ">
    <img src="../../../../assets/img_avatar.png" alt="Avatar">
  </div>

  <div class="datos">
    <label style="color: cornsilk">Nombre</label>
    <hr>

  </div>

  <div class="opciones">
    <a (click)="opcion()" type="button" class="btn bt1 boton" data-toggle="button" [routerLink]="[ 'crear' ]">Crear
      usuario</a>
    <a (click)="opcion()" type="button" class="btn bt2 boton" data-toggle="button" [routerLink]="[ 'eliminar' ]">Eliminar
      usuario</a>
    <a (click)="opcion()" type="button" class="btn bt3 boton" data-toggle="button" [routerLink]="[ 'editar' ]">Editar
      usuario</a>
    <a (click)="opcion()" type="button" class="btn bt4 boton" data-toggle="button" [routerLink]="[ 'consultar' ]">Consultar
      usuario</a>
  </div>

  <div class="salir">
    <a (click)="salir()" type="button" class="btn botonSalir" data-toggle="button" [routerLink]="[ '/admin' ]">Salir</a>
  </div>




</div>
<div *ngIf="desactivar" class="bodyOpcion">

  <router-outlet class="content m-5"></router-outlet>

</div>
