<div [ngClass]="{'mostrar': mostrar===true,
'ocultar': mostrar===false}" class="datosEstudiante m-5">
  <br>
  <hr>
  <div #demograficos id="demograficos" class="datosdemograficos">
    <h1 class="text-center">Datos Demograficos</h1>
    <hr>
    <div class="datospersonales">
      <h4>Datos personales</h4>
      <div class="row">
        <div class="col">
          <label for="id">Id</label>
          <input id="id" type="text" class="form-control" placeholder="id" disabled="true" [value]="demograficoActual.id">
          <label for="nacimiento">Nacimiento</label>
          <input id="nacimiento" type="text" class="form-control" placeholder="nacimiento" disabled="true" [value]="demograficoActual.nacimiento">
          <label for="origen">País Origen</label>
          <input id="origen" type="text" class="form-control" placeholder="origen" disabled="true" [value]="demograficoActual.pais">
        </div>
        <div class="col">
          <label for="Genero">Genero</label>
          <input id="Genero" type="text" class="form-control" placeholder="Genero" disabled="true" [value]="demograficoActual.genero">
          <label for="estado">Estado Civil</label>
          <input id="estado" type="text" class="form-control" placeholder="estado" disabled="true" [value]="demograficoActual.estado_civil">
          <label for="ciudad">Ciudad de origen</label>
          <input id="ciudad" type="text" class="form-control" placeholder="ciudad" disabled="true" [value]="demograficoActual.ciudad">
        </div>
      </div>
    </div>
    <div class="Origenetnico">
      <h4>Origen Étnico</h4>
      <div class="row">
        <div class="col">
          <label for="grupo">Grupo Étnico</label>
          <input class="form-control" type="text" id="grupo" placeholder="grupo" disabled="true" [value]="demograficoActual.grupo_etnico">
        </div>
        <div class="col">
          <label for="descripcion">Descripción</label>
          <input class="form-control" type="text" id="descripcion" placeholder="descripcion" disabled="true" [value]="demograficoActual.descripcion_etnica">
        </div>
        <div class="col">
          <label for="principal">Principal</label>
          <input class="form-control" type="text" id="principal" placeholder="principal" disabled="true" [value]="demograficoActual.pricipal">
        </div>
      </div>
    </div>
    <div class="discapacidad">
      <h4>Discapacidad</h4>
      <div class="row">
        <div class="col">
          <label for="discapacidad">Tipo de discapacidad</label>
          <input class="form-control" type="text" id="discapacidad" placeholder="discapacidad" disabled="true" [value]="demograficoActual.tipo_discapacidad">
        </div>
        <div class="col">
          <label for="descripcionDiscapacidad">Descripción</label>
          <input class="form-control" type="text" id="descripcionDiscapacidad" placeholder="descripcionDiscapacidad"
            disabled="true" [value]="demograficoActual.descripcion_discapacidad">
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div #academicos class="datosAcademicos">
    <h1 class="text-center">Datos academicos</h1>
    <hr>
    <div class="notas">
      <table id="tabla" class="table table-hover">
        <thead class=" bg-warning">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Semestre</th>
            <th scope="col">Creditos aprobados</th>
            <th scope="col">Creditos retirados</th>
            <th scope="col">Promedio</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="seleccionar(i)" *ngFor="let datoAcademico of academicosActual;let i=index" style="cursor: pointer">
            <th scope="row">{{i+1}}</th>
            <td>{{datoAcademico.semestre}}</td>
            <td>{{datoAcademico.creditosAprobados}}</td>
            <td>{{datoAcademico.creditosRetirados}}</td>
            <td>{{datoAcademico.promedio}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <br>
  <hr>
  <div #histoAlertas class="historialAlertas">
    <h1 class="text-center"> Historial de alertas</h1>
    <hr>
    <div class="alertas">
      <table id="tabla" class="table table-hover">
        <thead class=" bg-warning">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Semestre</th>
            <th scope="col">Alerta</th>
            <th scope="col">Creador</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let histoActual of alertasEstudiante;let i=index" style="cursor: pointer">
            <th scope="row">{{i+1}}</th>
            <td>{{histoActual.fecha}}</td>
            <td>{{histoActual.semestre}}</td>
            <td>{{histoActual.alerta}}</td>
            <td>{{histoActual.creador}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br #anotaciones>
  <hr>
  <br>

</div>

<div class="fondoNegro" *ngIf="alertaPopUp">

</div>
<div *ngIf="alertaPopUp" class="animated fadeIn alert alert-danger popUp">
  <strong>{{mensaje.titulo}}</strong> {{ mensaje.cuerpo}}
</div>
