<div [ngClass]="{'mostrar': mostrar===true,
'ocultar': mostrar===false}" class="datosEstudiante m-5">
  <hr>
  <div #demograficos id="demograficos" class="datosdemograficos">
    <h1 class="text-center">Datos Demograficos</h1>
    <hr>
    <div class="datospersonales">
      <h4>Datos personales</h4>
      <div class="row">
        <div class="col">
          <label for="id">Id</label>
          <input id="id" type="text" class="form-control" placeholder="id" disabled="true">
          <label for="nacimiento">Nacimiento</label>
          <input id="nacimiento" type="date" class="form-control" placeholder="nacimiento" disabled="true">
          <label for="origen">País Origen</label>
          <input id="origen" type="text" class="form-control" placeholder="origen" disabled="true">
        </div>
        <div class="col">
          <label for="Genero">Genero</label>
          <input id="Genero" type="text" class="form-control" placeholder="Genero" disabled="true">
          <label for="estado">Estado Civil</label>
          <input id="estado" type="text" class="form-control" placeholder="estado" disabled="true">
          <label for="ciudad">Ciudad de origen</label>
          <input id="ciudad" type="text" class="form-control" placeholder="ciudad" disabled="true">
        </div>
      </div>
    </div>
    <div class="Origenetnico">
      <h4>Origen Étnico</h4>
      <div class="row">
        <div class="col">
          <label for="grupo">Grupo Étnico</label>
          <input class="form-control" type="text" id="grupo" placeholder="grupo" disabled="true">
        </div>
        <div class="col">
          <label for="descripcion">Descripción</label>
          <input class="form-control" type="text" id="descripcion" placeholder="descripcion" disabled="true">
        </div>
        <div class="col">
          <label for="principal">Principal</label>
          <input class="form-control" type="text" id="principal" placeholder="principal" disabled="true">
        </div>
      </div>
    </div>
    <div class="discapacidad">
      <h4>Discapacidad</h4>
      <div class="row">
        <div class="col">
          <label for="discapacidad">Tipo de discapacidad</label>
          <input class="form-control" type="text" id="discapacidad" placeholder="discapacidad" disabled="true">
        </div>
        <div class="col">
          <label for="descripcionDiscapacidad">Descripción</label>
          <input class="form-control" type="text" id="descripcionDiscapacidad" placeholder="descripcionDiscapacidad"
            disabled="true">
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <div #academicos class="datosAcademicos">
    <h1 class="text-center">Datos academicos</h1>
    <hr>
    <div class="notas">
      <table id="tabla" class="table table-hover">
        <thead class=" bg-warning">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Semestre</th>
            <th scope="col">Creditos aprobados</th>
            <th scope="col">Creditos retirados</th>
            <th scope="col">Promedio</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="seleccionar(i)" *ngFor="let datoAcademico of datosAcademicos ;let i= index" style="cursor: pointer">
            <th scope="row">{{i+1}}</th>
            <td>{{datoAcademico.semestre}}</td>
            <td>{{datoAcademico.creditosAprobados}}</td>
            <td>{{datoAcademico.creditosRetirados}}</td>
            <td>{{datoAcademico.promedio}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <br>
  <hr>
  <div #histoAlertas class="historialAlertas">
    <h1 class="text-center"> Historial de alertas</h1>
    <hr>
    <div class="alertas">
      <table id="tabla" class="table table-hover">
        <thead class=" bg-warning">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Semestre</th>
            <th scope="col">Alerta</th>
            <th scope="col">Creador</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let historial of historialAlerta, let i= index" style="cursor: pointer">
            <th scope="row">{{i+1}}</th>
            <td>{{historial.fecha}}</td>
            <td>{{historial.semestre}}</td>
            <td>{{historial.alerta}}</td>
            <td>{{historial.creador}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <div class="anotaciones">
    <h1 class="text-center">Anotaciones</h1>
    <table class="table">
      <thead class=" bg-warning">
        <tr>
          <th>#</th>
          <th>Nombre responsable</th>
          <th>Anotación</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let anotacion of anotaciones, let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{anotacion.responsable}}</td>
          <td>{{anotacion.anotacion}}</td>
          <td>{{anotacion.fecha}}</td>

        </tr>
      </tbody>
    </table>
  </div>



</div>
