<!-- <div class="row">
  <div class="col-sm-3">
    <a (click)="activar()" class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active"
      [routerLink]="['demanda']">Demanda</a>
  </div>
  <div class="col-sm-3">
    <a (click)="activar()" class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active"
      [routerLink]="['asincrono']">Asincronas</a>
  </div>
  <div class="col-sm-3">
    <a (click)="activar()" class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active"
      [routerLink]="['periodico']">
      Periodicas</a>
  </div>
  <div class="col-sm-3">
    <a (click)="activar()" class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active"
      [routerLink]="['ia']">
      IA</a>
  </div>
</div> -->
<br>
<router-outlet></router-outlet>
