<div class="row">
  <div class="col-sm-4">
    <a class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active" [routerLink]="['demanda']">Demanda</a>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active" [routerLink]="['asincrono']">Asincronas</a>
  </div>
  <div class="col-sm-4">
    <a class="btn btn-primary btn-lg  btn-block" role="button" routerLinkActive="active" [routerLink]="['periodico']"> Periodicas</a>
  </div>
</div>

<router-outlet></router-outlet>
