body .modal-admin {
  /* new custom width */
  width: 950px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -375px;
}

.disabledBtn {

  pointer-events: none;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  opacity: 0.65;
}

.enabledBtn {
  pointer-events: all;
}
