<div class="row m-3 ">
  <div class="col-sm-6">

    <div class="form-group">
      <label for="anio">Año academico</label>
      <input type="text" class="form-control" name="anio" id="anio" aria-describedby="helpId" placeholder="">
    </div>

  </div>
  <div class="col-sm-6">

    <div class="form-group">
      <label for="periodo">Periodo academico</label>
      <input type="text" class="form-control" name="periodo" id="periodo" aria-describedby="as" placeholder="">
    </div>
  </div>

</div>

<div class="container">

  <table id="tabla" class="table table-hover m-3  ">
    <thead class=" bg-warning">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Asignatura</th>
        <th scope="col">Parametro</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let busq of busqueda; let i=index" style="cursor: pointer">
        <th scope="row">{{i+1}}</th>
        <td>{{busq.nombreAsignatura}}</td>
        <td>{{busq.parametro}}</td>
      </tr>
    </tbody>
  </table>

  <div style="height: 45px" class="container m-1">

    <button name="agregar" id="agregar" class="btn btn-primary m-1 pull-right" (click)="agregarModal()" role="button" data-toggle="modal"
      data-target="#myModal">Agregar</button>
    <a (click)="crearConsulta()" href="/consulta" name="consultar" id="consultar" class="btn btn-primary m-1 pull-right" role="button"
      target="blank">Consultar</a>

  </div>



</div>

<!-- Trigger the modal with a button -->

<!-- Modal -->
<div *ngIf="activarModal" id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agendamiento de cita</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <!--
        Body
        -->

        <div class="row">
          <div class="col-sm-6">

            <h5>Asignatura</h5>

            <div class="form-group">
              <input [(ngModel)]="actual.nombreAsignatura" type="text" class="form-control" name="asignatura" id="asignatura" aria-describedby="helpId"
                placeholder="Asignatura" required>
              <small id="helpId" class="form-text text-muted">Help text</small>
            </div>






          </div>
          <div class="col-sm-6">

            <h5>Parametro</h5>
            <div class="form-check">
              <input [(ngModel)]="actual.parametro" class="form-check-input" type="radio" name="parametro" value="aprobo" id="aprobo" checked
                required>
              <label class="form-check-label" for="aprobo">
                Aprobo
              </label>
            </div>
            <div class="form-check">
              <input [(ngModel)]="actual.parametro" class="form-check-input" type="radio" name="parametro" value="reprobo" id="reprobo"
                checked required>
              <label class="form-check-label" for="reprobo">
                Reprobo
              </label>
            </div>
            <div class="form-check">
              <input [(ngModel)]="actual.parametro" class="form-check-input" type="radio" name="parametro" value="retiro" id="retiro" checked
                required>
              <label class="form-check-label" for="retiro">
                Retiro
              </label>
            </div>
            <div class="form-check">
              <input [(ngModel)]="actual.parametro" class="form-check-input" type="radio" name="parametro" value="personalizado" id="personalizado"
                checked required>
              <label class="form-check-label" for="personalizado">
                Personalizado
              </label>

              <div class="input-group">
                <div class="input-group-append">
                  <input [(ngModel)]="actual.menor" type="number" class="form-control" placeholder="Menor que" step="0.1" id="menor">
                  <span class="input-group-text" for="menor">
                    <h6>&lt;</h6>
                  </span>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" for="mayor">
                    <h6>&lt;</h6>
                  </span>
                  <input [(ngModel)]="actual.mayor" type="number" class="form-control" placeholder="Mayor que" step="0.1" id="mayor">

                </div>
                <!-- <div class="input-group-append">
                  <span class="input-group-text">
                    <h6>&#61;</h6>
                  </span>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Igual que">

                </div> -->
              </div>

            </div>

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Regresar</button>
        <button type="submit" class="btn btn-primary " data-dismiss="modal" (click)="agregarAsignatura()">Agregar</button>

      </div>



    </div>
  </div>
