<mat-horizontal-stepper linear #stepper>
  <ng-template matStepperIcon="edit">
    <i class="material-icons " style="filter: invert(1) hue-rotate(180deg) contrast(2);">
      <img src="../../../../assets/baseline-done-24px.svg" alt="">
    </i>
  </ng-template>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Motivo de atencíon</ng-template>

      <form [formGroup]="forma" class="form-group ">
        <div class="form-group motivoDeAtencion m-5">
          <label for="Alertas">Seleccione el motivo de atencíon:</label>
          <select #alerta (click)="elegirAlerta(alerta.value)" formControlName="opcion" [(ngModel)]="actualAlerta"
            class="form-control" id="Alertas" required>
            <option value="0">Seleccione una opción</option>
            <option *ngFor="let alerta of alertas,let indi=index">{{alerta.nombreAlerta}}</option>
          </select>
        </div>
        <button (click)="obtenerClases()" mat-button matStepperNext [disabled]="controlBtn1">Siguiente</button>

      </form>



    </form>

  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Clase</ng-template>

      <div class="clases m-5">
        <table id="tablaClases" class="table table-hover">
          <thead class=" bg-warning">
            <tr>
              <th [ngClass]="{'fa-sort-asc': tablaActual === 'tablaClases' && indiceActual === 0 && asc===true,
                              'fa-sort-desc': tablaActual === 'tablaClases' && indiceActual === 0 && asc===false,
                              'fa': indiceActual === 0 }"
                style="cursor: pointer" (click)="ordenar(0,'tablaClases')" scope="col">Nombre </th>
              <th [ngClass]="{'fa-sort-asc': tablaActual === 'tablaClases' && indiceActual === 1 && asc===true,
                              'fa-sort-desc': tablaActual === 'tablaClases' && indiceActual === 1 && asc===false,
                              'fa': indiceActual === 1 }"
                style="cursor: pointer" (click)="ordenar(1,'tablaClases')" scope="col">Numero</th>
              <th [ngClass]="{'fa-sort-asc': tablaActual === 'tablaClases' && indiceActual === 2 && asc===true,
                              'fa-sort-desc': tablaActual === 'tablaClases' && indiceActual === 2 && asc===false,
                              'fa': indiceActual === 2 }"
                style="cursor: pointer" (click)="ordenar(2,'tablaClases')" scope="col">Numero de estudiantes</th>
            </tr>
          </thead>
          <tbody>

            <tr [ngClass]="{
              'table-active': (i+1) === claseSelecionada
              }" (click)="seleccionClase(i+1)"
              *ngFor="let clase of clases, let i= index" style="cursor: pointer">
              <td>{{clase.nombre}}</td>
              <td class="text-center">{{clase.numero}}</td>
              <td class="text-center">{{clase.numeroEstudiantes}}</td>
            </tr>
          </tbody>
        </table>


      </div>
      <button mat-button matStepperPrevious>Regresar</button>
      <button mat-button matStepperNext [disabled]="controlBtn2">Siguiente</button>

    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Estudiantes</ng-template>


      <div class="estudiantesDiv m-5">

        <table id="tablaEstudiantes" class="table table-hover">
          <thead class=" bg-warning">
            <tr>
              <th [ngClass]="{'fa-sort-asc': tablaActual === 'tablaEstudiantes' && indiceActual === 0 && asc===true,
                              'fa-sort-desc': tablaActual === 'tablaEstudiantes' && indiceActual === 0 && asc===false,
                              'fa': indiceActual === 0 }"
                style="cursor: pointer" aria-hidden="true" (click)="ordenar(0,'tablaEstudiantes')" scope="col">#</th>

              <th [ngClass]="{'fa-sort-asc': tablaActual === 'tablaEstudiantes' && indiceActual === 1 && asc===true,
                              'fa-sort-desc': tablaActual === 'tablaEstudiantes' && indiceActual === 1 && asc===false,
                              'fa': indiceActual === 1 }"
                style="cursor: pointer" aria-hidden="true" (click)="ordenar(1,'tablaEstudiantes')" scope="col">Nombre</th>
              <th [ngClass]="{'fa-sort-asc': tablaActual === 'tablaEstudiantes' && indiceActual === 2 && asc===true,
                              'fa-sort-desc': tablaActual === 'tablaEstudiantes' && indiceActual === 2 && asc===false,
                              'fa': indiceActual === 2 }"
                style="cursor: pointer" (click)="ordenar(2,'tablaEstudiantes')" scope="col">Apellido</th>
              <th [ngClass]="{'fa-sort-asc': tablaActual === 'tablaEstudiantes' && indiceActual === 3 && asc===true,
                              'fa-sort-desc': tablaActual === 'tablaEstudiantes' && indiceActual === 3 && asc===false,
                              'fa': indiceActual === 3 }"
                style="cursor: pointer" (click)="ordenar(3,'tablaEstudiantes')" scope="col">Semestre</th>
            </tr>
          </thead>
          <tbody>
            <tr [ngClass]="{
              'table-active': estudiante.check === true
              }" (click)="seleccionarCheck(i)"
              *ngFor="let estudiante of estudiantes, let i= index" style="cursor: pointer">
              <td>{{i+1}}</td>
              <td>{{estudiante.nombre}}</td>
              <td>{{estudiante.apellido}}</td>
              <td>{{estudiante.semestre}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <button mat-button matStepperPrevious>Regresar</button>
      <button mat-button matStepperNext [disabled]="controlBtn3">Siguiente</button>

    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmación</ng-template>

    <div class="contenido m-5">

      <p style="font-weight: bold;font-size: 2em; text-align: center">
        {{actualAlerta}}
      </p>
      <h6>Estudiantes</h6>
      <ul>
        <li *ngFor="let estudiante of estudiantes |filtroEstudiantesChecked, let i = index">{{estudiante.nombre}}
          {{estudiante.apellido}} </li>

      </ul>
      <label for="exampleFormControlTextarea1">Mas informacion de la alerta:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <button (click)=alertar() (click)="stepper.reset()" type="button" class="btn btn-primary pull-right">Alertar</button>


  </mat-step>

</mat-horizontal-stepper>


<div class="fondoNegro" *ngIf="alertaPopUp">

</div>
<div *ngIf="alertaPopUp" class="animated fadeIn alert alert-danger popUp">
  <strong>{{mensaje.titulo}}</strong> {{ mensaje.cuerpo}}
</div>
